@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.875rem;
}
h2 {
  font-size: 1.5rem;
}

p {
  font-family: "Inter", sans-serif;
}

body { 
  background-color: #020A27
  ;
}


.design-div svg {
  width: 2rem;
  height: 2rem;
}

.design-title:hover + div div {
    background-color: #4875E6;
}


.programming-title:hover + div div {
  background-color: #862547;
}