@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@700&display=swap');
h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.875rem;
}
h2 {
  font-size: 1.5rem;
}

p {
  font-family: "Inter", sans-serif;
}

body { 
  background-color: #020A27
  ;
}

.design-div svg {
  width: 2rem;
  height: 2rem;
}

.design-title:hover + div div {
    background-color: #4875E6;
}

.programming-title:hover + div div {
  background-color: #862547;
}

.outly-icons {
  height: 30px;
    padding: 10px;
    transition: fill .2s;
    cursor: pointer;
    overflow: unset;
    box-sizing: unset;
}

#image-track {
  transform: translate(0%, -50%); 
width: 1000px;
}
.project-featured-image {
  width:200px;
  height: 300px;
}

.project-featured-image img { 
  object-fit: cover;
  object-position: 100% center;
  width: 200px;
  height: 300px;
}